/* Το margin αφήνει κενό γύρο από το πλαίσιο ενώ
   Το border βάζει μαυρο border γυρο απο το padding
   Το padding μεγαλώνει το πλαίσιο αλλά το περιεχόμενο
  μένει στο ίδιο σημείο */
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  /*Για να αλλάξω τα fonts πάω στα google fonts διαλέγω τα family που θέλω και γράφω στο head το link που γράφει
    στο embed.Μετά κανω copy paste στα containers που θέλω τον κωδικα που εχει στο embed
    */
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  /* 16px = 100% = 1em
      για να μην πολλαπλασιασει το μεγεθος του container
      γράφω πχ 2rep*/
  font-size: 500%;
  color: #197163;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #197163;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 12px;
  border-color: #EAF6F6;
  width: 7%;
  margin: 50px auto 50px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #8fc0a9;
  position: relative;
  padding-top: 100px;
  margin: 0;
}

.middle-container {
  margin: 50px 0 50px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding-bottom: 20px;
  padding-top: 30px;
  margin: 0;
}

.pro {
  text-decoration: underline;
  font-weight: normal;
  line-height: 2;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 10%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 45%;
}

.mountain {
  position: relative;
  margin-bottom: -3px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 5px 10px 5px 10px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.skill-row {
  width: 50%;
  /*Για να βάλω στην μέση γράφω margin: auto; */
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-image-html {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.skill-image-java {
  width: 20%;
  float: right;
  margin-left: 5px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 40px auto;
}

.btn {
  background: #11cdd4;
  background: -webkit-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 31;
  -moz-border-radius: 31;
  border-radius: 31px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background: -webkit-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
